.DS_Store
.eslintcache
.firebase
.idea
.parcel-cache
.pnp
.pnp.js
.turbo
.vscode/*
!.vscode/extensions.json

apps/**/dist
packages/**/dist

build
coverage
dist
dist-ssr
firebase-debug.log*
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
tmp.package.json
yarn-debug.log*
yarn-error.log*

*.local
*.local.sh
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo

*/**/public/config.json
